extends index.pug

block content
	link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")

	.container
		br
		h2 #{portfolio.name}
		p.lead Description: #{portfolio.description}
		//- Round availableCapital to nearest two decimal places
		- var factor = Math.pow(10, 2);
		- var availableCapital = portfolio.availableCapital
		h5 Starting Capital: #{portfolio.capital}
		- var currentValue = portfolio.currentValue
		h5 Current Value: #{Math.round(currentValue * factor) / factor}
		h5 Available Capital: #{Math.round(availableCapital * factor) / factor}
		br
		
		ul.nav.nav-tabs(role='tablist')
			li.nav-item.mr-2
				a.nav-link.active(data-toggle="tab" href="#overview" role="tab") Portfolio Overview
			li.nav-item.mr-2
				a.nav-link(data-toggle="tab" href="#predictions" role="tab") Performance Predictions
			li.nav-item.mr-auto
				a.nav-link(data-toggle="tab" href="#marketplace" role="tab") Marketplace
			li.nav-item
				a.nav-link(data-toggle="tab" href="#settings" role="tab") Settings
		br
		//- Tab contents go here
		.tab-content
			#overview.tab-pane.show.active(role='tabpanel')
				include includes/new-section-modal.pug
				include includes/buy-more-shares.pug
				.d-flex.flex-row.align-items-center
					h2.mr-4 Investments
					button.btn.btn-success(data-toggle='modal' data-target='#new-section-modal')
						span.fas.fa-plus.fa-lg
				br
				if !portfolio.sections || portfolio.sections.length === 0
					.alert.alert-warning It appears this portfolio doesn't have any sections, make a new one to get started!
						|  (Click the green plus sign)
				else
					
					//- sectionId is used to keep track of the section index
					- var sectionId = 0
					each section in portfolio.sections
						.row.d-flex.flex-column
							.card
								.card-header.d-inline-flex.flex-row
									h4.card-title.mr-auto #{section.name}
									a.btn.btn-info(href='/stocks/view-portfolio/' + portfolio.portfolio_id) Manage
								.card-block.p-4
									h5.card-subtitle.mb-2 Holdings
									if !section.holdings || section.holdings.length === 0
										.alert.alert-warning It appears this section doesn't have any holdings, head over to the Marketplace to purchase some stocks!
									else
										table.table.table-striped
											thead
												tr
													th(scope='column') Shares
													th(scope='column') Ticker
													th(scope='column') Purchase Price
													th(scope='column') Latest Price
													th(scope='column') % Gain
													th(scope='column') Absolute Gain
													th(scope='column') Actions
											tbody
												each stock in section.holdings
													tr
														td #{stock.shares}
														td #{stock.ticker}
														td #{stock.purchasePrice}
														td.last-price(ticker=stock.ticker) #{stock.lastPrice}
														td.gain-percent(ticker=stock.ticker, buy-price=stock.purchasePrice) #{stock.percentGain}
														td.gain-absolute(ticker=stock.ticker, buy-price=stock.purchasePrice) #{stock.absoluteGain}
														td
															.dropdown.show
																button.btn.dropdown-toggle(style="background-color: lightgray;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
																
																.dropdown-menu.dropdown-menu-right(style="padding: 0; padding-top: 0.1em;" aria-labelledby="dropdownMenuLink")
																	button.dropdown-item.buy-more-modal-toggler(data-toggle='modal' 
																		data-target='#buy-more-shares-modal' data-stock=stock.ticker data-section=sectionId) Buy More
																	
																	button.dropdown-item.performance-checker(ticker=stock.ticker) Stock Performance
																	
																	form.form(method="POST" action="/stocks/sell-all/")
																		input(type="hidden" id="portId" name="portId" value=portfolio.portfolio_id)
																		input(type="hidden" id="sectionId" name="sectionId" value=sectionId)
																		input(type="hidden" id="stockTicker" name="stockTicker" value=stock.ticker)
																		button.dropdown-item.bg-danger.text-white(type="submit") Sell All
						- sectionId++

						br
			#predictions.tab-pane(role='tabpanel')
				.d-flex.flex-row.justify-content-center
					div
						.d-flex.flex-column.align-items-center.justify-content-center(style='margin-right: 2em;')
							h4 Section Performances
							#section-performances(style='height: 60vh;')
					div
						.d-flex.flex-column.align-items-center.justify-content-center(style='margin-right: 2em;')
							h4 Portfolio Performance
							#portfolio-performance(style='height: 80vh; width: 60vw;')
				br
				
			#marketplace.tab-pane(role='tabpanel')
				ul.nav.nav-pills.justify-content-center
					li.nav-item.active.mr-3
						a.nav-link.active(data-toggle="pill" href="#basic-search" role="tab") Basic Search
					li.nav-item.mr-3
						a.nav-link(data-toggle="pill" href="#advanced-search" role="tab") Advanced Search

				br
				.tab-content.d-flex.justify-content-center
					#basic-search.tab-pane.show.active(role='tabpanel')
						.row.mb-4
							.col-md-6
								select.select-stock.form-control( style='width: 50em;')
						.row
							.col-md-12.card-container(style='width=30em;')

					#advanced-search.tab-pane(role='tabpanel')
						p.lead (Coming Soon)
			#settings.tab-pane(role='tabpanel')
				include includes/edit-description-modal.pug
				include includes/edit-name-modal.pug
				include includes/restart-game.pug
				include includes/delete-game.pug

				h2 Settings
				br
				
				.col-sm-3.d-flex.flex-row.align-items-center
					h4.mr-auto.ml-0 Name:
					button.btn.btn-primary.btn-sm.mb-2(data-toggle='modal' data-target='#edit-name') Edit
				p.lead &nbsp;&nbsp;&nbsp;&nbsp;#{portfolio.name}
				
				.col-sm-3.d-flex.flex-row.align-items-center
					h4.mr-auto.ml-0 Description:
					button.btn.btn-primary.btn-sm.mb-2(data-toggle='modal' data-target='#edit-description') Edit
				p.lead &nbsp;&nbsp;&nbsp;&nbsp;#{portfolio.description}
				hr
				br
				br

				h2 DANGER ZONE
				br
				button.btn.btn-warning.mb-2(data-toggle='modal' data-target='#restart-game') Restart Game
				br
				button.btn.btn-danger(data-toggle='modal' data-target='#delete-game') Delete Game


block javascript
	include includes/portfolio_performance.pug
	include includes/display-section-performances.pug
	include includes/update_all_shares.pug
	include includes/trigger_bulk_purchase.pug
	include includes/stock_display.pug
	script(src='/bower_components/select2/dist/js/select2.min.js')
	script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
	script(src='/js/settings.js')
	script(src='/js/stockPerformance.js')
