extends index.pug

block content
	link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")

	.container
		br
		h2 #{portfolio.name}
		h4 Available Capital: #{portfolio.availableCapital}
		p.lead #{portfolio.description}
		ul.nav.nav-tabs(role='tablist')
			li.nav-item.mr-2
				a.nav-link(data-toggle="tab" href="#overview" role="tab") Portfolio Overview
			li.nav-item.mr-auto
				a.nav-link(data-toggle="tab" href="#marketplace" role="tab") Marketplace
			li.nav-item
				a.nav-link(data-toggle="tab" href="#settings" role="tab") Settings
		br
		//- Tab contents go here
		.tab-content
			#overview.tab-pane.show.active(role='tabpanel')
				include includes/new-section-modal.pug

				.d-flex.flex-row.align-items-center
					h2.mr-4 Investments
					button.btn.btn-success(data-toggle='modal' data-target='#new-section-modal')
						span.fas.fa-plus.fa-lg
				br
				if !portfolio.sections || portfolio.sections.length === 0
					.alert.alert-error It appears this portfolio doesn't have any sections, make a new one to get started!
				else
					each section in portfolio.sections
						.row.d-flex.flex-column
							.card
								.card-header.d-inline-flex.flex-row
									h4.card-title.mr-auto #{section.name}
									a.btn.btn-info(href='/stocks/view-portfolio/' + portfolio.portfolio_id) Manage
								.card-block.p-4
									h5.card-subtitle.mb-2 Holdings
									if !section.holdings || section.holdings.length === 0
										.alert.alert-error It appears this section doesn't have any holdings, head over to the Marketplace to purchase some stocks!
									else
										table.table.table-striped
											thead
												tr
													th(scope='column') Shares
													th(scope='column') Ticker
													th(scope='column') Purchase Price
													th(scope='column') Latest Price
													th(scope='column') % Gain
													th(scope='column') Absolute Gain
											tbody
												each stock in section.holdings
													tr
														td #{stock.shares}
														td #{stock.ticker}
														td #{stock.purchasePrice}
														td --
														td --
														td --

						br
			#marketplace.tab-pane(role='tabpanel')
				ul.nav.nav-pills.justify-content-center
					li.nav-item.active.mr-3
						a.nav-link(data-toggle="pill" href="#basic-search" role="tab") Basic Search
					li.nav-item.mr-3
						a.nav-link(data-toggle="pill" href="#advanced-search" role="tab") Advanced Search

				br
				.tab-content.d-flex.justify-content-center
					#basic-search.tab-pane(role='tabpanel')
						.row.mb-4
							.col-md-6
								select.select-stock.form-control( style='width: 50em;')
									each stock in availableStocks
										option(value=stock.symbol) #{stock.symbol}
						.row
							.col-md-12.card-container(style='width=30em;')

					#advanced-search.tab-pane(role='tabpanel')
						p.lead something
			#settings.tab-pane(role='tabpanel')
				include includes/edit-description-modal.pug
				include includes/edit-name-modal.pug
				include includes/restart-game.pug
				include includes/delete-game.pug

				h2 Settings
				br
				
				.d-flex.flex-row.align-items-center
					h4.mr-4 Name:
					button.btn.btn-primary.btn-sm.mb-2(data-toggle='modal' data-target='#edit-name') Edit
				p.lead #{portfolio.name}
				
				.d-flex.flex-row.align-items-center
					h4.mr-4 Description:
					button.btn.btn-primary.btn-sm.mb-2(data-toggle='modal' data-target='#edit-description') Edit
				p.lead #{portfolio.description}
				hr
				br
				br

				button.btn.btn-primary.btn-lg.mb-4(disabled) DANGER ZONE
				br
				button.btn.btn-warning.mb-2(data-toggle='modal' data-target='#restart-game') Restart Game
				br
				button.btn.btn-danger(data-toggle='modal' data-target='#delete-game') Delete Game


block javascript
	script(src='/bower_components/select2/dist/js/select2.min.js')
	script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
	script(src='/js/main.js')
	include includes/makeChart.pug